text {
  fill: #000;
  font-family: "Stymie", "Baskerville", serif;
}

path {
  fill: none;
  stroke: #000;
  stroke-width: 2;
}

.x-axis line,
.x-axis path,
.y-axis line,
.y-axis path {
  display: none;
}

.x-axis .tick line,
.y-axis .tick line {
  display: block;
  stroke: #fff;
}

.x-axis .tick text,
.y-axis .tick text {
  font-family: "Stymie", "Baskerville", serif;
}

circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.2;
}

rect.polygon-background {
  fill: rgba(153,153,153,0.8);
}

.polygons {
  display: flex;
  flex-direction: row;
}
